<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechHub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/category.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
  </head>
  <body>
    <header>
      <a href="/" class="logo">Tech<span>Hub</span></a>
      <nav>
        <% categories.forEach(category => { %>
        <a href="<%= category.url %>"> <%= category.name %> </a>
        <% }); %>
      </nav>
      <div class="header-bg"></div>
    </header>
    <main>
      <section class="category">
        <div class="category-header">
          <h1><%= categoryName %></h1>
          <div class="main-divider"></div>
        </div>
        <div class="category-items-grid">
          <% categoryItems.forEach(item => { %>
          <div class="category-item">
            <img src="/images/devices/<%= item.fileName %>" alt="Device" />
            <h2 class="category-item-name"><%= item.name %></h2>
            <% if(item.newPrice){ %>
            <p class="category-item-old-price">
              <%= item.price.toLocaleString('en-US', { style: 'currency',
              currency: 'USD' }) %>
            </p>
            <p class="category-item-new-price">
              <%= item.newPrice.toLocaleString('en-US', { style: 'currency',
              currency: 'USD' }) %>
            </p>
            <% } else { %>
            <p class="category-item-price">
              <%= item.price.toLocaleString('en-US', { style: 'currency',
              currency: 'USD' }) %>
            </p>
            <% } %>
            <a
              href="/store/<%= item.category.name.toLowerCase() %>/<%= item._id %>"
            >
              View details
            </a>
          </div>
          <% }); %>
        </div>
      </section>

      <section class="additions">
        <div class="additions-grid">
          <div class="addition-container">
            <img src="/images/icons/free-shipping.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Free shipping</h3>
              <p>on all orders</p>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/cash-on-delivery.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Cash on delivery</h3>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/return.svg" alt="Icon" />
            <div class="addition-text">
              <h3>45 day return</h3>
              <p>free of charge</p>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/open-daily.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Open daily</h3>
              <p>8 am - 9 pm</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <a
        href="https://github.com/rvolkov8/project-inventory-application"
        target="_blank"
      >
        <h3 class="nickname">rvolkov8</h3>
        <img src="/images/icons/github.svg" alt="Icon" />
      </a>
    </footer>
  </body>
</html>
