<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechHub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <a href="/shop/laptops">
        <img
          src="/images/banners/apple-logo.webp"
          alt="Apple logo"
          class="apple-logo"
        />
        <img
          src="/images/banners/banner.webp"
          alt="Banner"
          class="main-banner"
        />
      </a>
      <section class="main-categories">
        <% categories.forEach(category => { %>
        <a href="<%= category.url %>" class="main-category">
          <img
            src="/images/categories/<%= category.name.toLowerCase() %>.webp"
            alt="Category"
          />
        </a>
        <% }); %>
      </section>
      <section class="new-arrivals">
        <div class="new-arrivals-header">
          <h1>New Arrivals</h1>
          <div class="main-divider"></div>
        </div>
        <div class="new-arrivals-grid">
          <% newArrivals.forEach(item => { %>
          <div class="new-arrivals-item">
            <img src="/images/devices/<%= item.fileName %>" alt="Device" />
            <h2 class="new-arrivals-item-name"><%= item.name %></h2>
            <% if(item.newPrice) { %>
            <p class="new-arrivals-item-old-price">
              <%= ( item.price.toLocaleString('en-US', { style: 'currency',
              currency: 'USD' }) ) %>
            </p>
            <p class="new-arrivals-item-new-price">
              <%= item.newPrice.toLocaleString('en-US', { style: 'currency',
              currency: 'USD' }) %>
            </p>
            <% } else { %>
            <p class="new-arrivals-item-price">
              <%= item.price.toLocaleString('en-US', { style: 'currency',
              currency: 'USD' }) %>
            </p>
            <% } %> <% if (currentUser) { %>
            <a
              href="/shop/<%= item.category.name.toLowerCase() %>/<%= item._id %>"
            >
              View details
            </a>
            <% } else { %>
            <a href="/log-in"> Log in to view details </a>
            <% } %>
          </div>
          <% }); %>
        </div>
      </section>
      <a href="/shop/laptops">
        <img
          src="/images/banners/deal-of-the-week-banner.webp"
          alt="Banner"
          class="deal-of-the-week-banner"
        />
      </a>
      <section class="additions">
        <div class="additions-grid">
          <div class="addition-container">
            <img src="/images/icons/free-shipping.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Free shipping</h3>
              <p>on all orders</p>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/cash-on-delivery.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Cash on delivery</h3>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/return.svg" alt="Icon" />
            <div class="addition-text">
              <h3>45 day return</h3>
              <p>free of charge</p>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/open-daily.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Open daily</h3>
              <p>8 am - 9 pm</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
