<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechHub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/item.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <% if (!currentUser) { %>
      <section class="access">
        <h1>Unfortunately, you don't have the access to this page.</h1>
        <p>
          Please, <a href="/log-in">Log in</a> to view details about this
          product
        </p>
      </section>
      <% } else if (currentUser && !currentUser.isAdmin) { %>
      <section class="item">
        <div class="item-grid">
          <div class="photo-cell">
            <img src="/images/devices/<%= item.fileName %>" alt="Device" />
          </div>
          <div class="info-cell">
            <div class="info-heading">
              <div class="category"><%= item.category.name %></div>
              <div class="device-name"><%= item.name %></div>
            </div>
            <div class="price-container">
              <% if (item.newPrice !== null) { %>
              <p class="new-price">
                <%= item.newPrice.toLocaleString('en-US', { style: 'currency',
                currency: 'USD' }) %>
              </p>
              <p class="old-price">
                <%= item.price.toLocaleString('en-US', { style: 'currency',
                currency: 'USD' }) %>
              </p>
              <% } else { %>
              <p class="price">
                <%= item.price.toLocaleString('en-US', { style: 'currency',
                currency: 'USD' }) %>
              </p>
              <% } %>
            </div>
            <div class="description"><%= item.description %></div>
            <div class="in-stock">In stock: <%= item.numberInStock %></div>
            <div class="admin-access">
              <a class="admin-access-link" href="/profile">Get admin access</a>
              to delete or update products
            </div>
          </div>
        </div>
      </section>
      <section class="additions">
        <div class="additions-grid">
          <div class="addition-container">
            <img src="/images/icons/free-shipping.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Free shipping</h3>
              <p>on all orders</p>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/cash-on-delivery.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Cash on delivery</h3>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/return.svg" alt="Icon" />
            <div class="addition-text">
              <h3>45 day return</h3>
              <p>free of charge</p>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/open-daily.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Open daily</h3>
              <p>8 am - 9 pm</p>
            </div>
          </div>
        </div>
      </section>
      <% } else { %>
      <section class="item">
        <div class="item-grid">
          <div class="photo-cell">
            <img src="/images/devices/<%= item.fileName %>" alt="Device" />
          </div>
          <div class="info-cell">
            <div class="info-heading">
              <div class="category"><%= item.category.name %></div>
              <div class="device-name"><%= item.name %></div>
            </div>
            <div class="price-container">
              <% if (item.newPrice !== null) { %>
              <p class="new-price">
                <%= item.newPrice.toLocaleString('en-US', { style: 'currency',
                currency: 'USD' }) %>
              </p>
              <p class="old-price">
                <%= item.price.toLocaleString('en-US', { style: 'currency',
                currency: 'USD' }) %>
              </p>
              <% } else { %>
              <p class="price">
                <%= item.price.toLocaleString('en-US', { style: 'currency',
                currency: 'USD' }) %>
              </p>
              <% } %>
            </div>
            <div class="description"><%= item.description %></div>
            <div class="in-stock">In stock: <%= item.numberInStock %></div>
            <div class="buttons-container">
              <a href="<%= item.url %>/delete" class="delete-button">Delete</a>
              <a href="<%= item.url %>/update" class="update-button">Update</a>
            </div>
          </div>
        </div>
      </section>
      <section class="additions">
        <div class="additions-grid">
          <div class="addition-container">
            <img src="/images/icons/free-shipping.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Free shipping</h3>
              <p>on all orders</p>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/cash-on-delivery.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Cash on delivery</h3>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/return.svg" alt="Icon" />
            <div class="addition-text">
              <h3>45 day return</h3>
              <p>free of charge</p>
            </div>
          </div>
          <div class="addition-container">
            <img src="/images/icons/open-daily.svg" alt="Icon" />
            <div class="addition-text">
              <h3>Open daily</h3>
              <p>8 am - 9 pm</p>
            </div>
          </div>
        </div>
      </section>
      <% } %>
    </main>
    <%- include('footer') %>
  </body>
</html>
